@import 'tailwindcss';
@import '@Hashibutogarasu/ui/styles/base.css';
@import '@Hashibutogarasu/ui/styles/sidebar-theme.css';

@theme inline {
  --font-sans: var(--font-geist-sans), var(--font-noto-jp);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
}
